















.imagem-fundo {
    display: flex;
    background-color: gray;
    background-image: url('../img/academia.avif');
    color: white;
}

.imagem-fundo button {
    background-color: #ff5c00;
    border: none;
    color: white;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

